
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
}

.container {
    flex: 1;
    padding: 20px;
}

nav.top-menu {
    background-color: #401457;
    padding: 10px 20px;
    color: white;
}

.div-agroup{
    width: 100%;
    display: flex;
    align-items: center; 
}

.div-img-logo{
    padding-left: 5%;
    width: 35%;
}

.div-img-logo img{
    padding: 1% 0%;
    width: 60%;
}

.header-text{
    gap: 60px;
    display: flex;
    justify-content: space-between; 
}

.header-text a{
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.header-text a:hover {
    color: #FFD700;
}

h2{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 5% 0%
}

.card-one, .card-two, .card-three {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 20px 20px 15px #bebebe, -20px -20px 15px #ffffff;
}

.div-img-card img{
    width: 100%;
}

.text-span{
    display: flex;
    padding: 4% 2%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.div-jogo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div-como-jogar{
    font-size: 24px;
    text-align: center;
    color:#011b35;
    cursor: pointer;
}

.div-como-jogar span:hover{
    color:#FFD700
}

.div-text-jogo{
    text-align: center;
}

.div-modal{
    z-index: 1;
    width: 100%;
    background-color: #011b35;
    display: flex; 
    flex-direction: column; 
    gap: 32px;
    padding: 1%;
}

.text-instrucao{
    color: #fff;
}

.text-fecha{
    text-align: center;
    color: #FFD700;
    cursor: pointer;
}

#DivModal{
    display: none;
}

  




















footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #011b35;
    padding: 16px;
    height: 20%;
    color: white;
}

.footer-img img {
    width: 20%;
    display: block; 
    margin: 0 auto;
}

.footer-contact {
    padding-right: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


